@import "../globals.scss";
//! <--- Mobile --->
.landing {
   background-image: url("https://www.themoviedb.org/t/p/original/d2UxKyaJ5GgzuHaSsWinFfv3g6L.jpg");
   @include backdrop-prop;
   width: 100%;
   height: 100vh;
   z-index: -1;

   .wrapper {
      color: white;
      background-color: rgba($col1, 0.8);
      backdrop-filter: $defBlur;
      width: 100%;
      height: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: fixed;
      top: 0px;
      left: 0px;
      z-index: 0;

      .content {
         display: inherit;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         width: 400px;
         margin: auto;
         h1 {
            font-weight: $subHeading;
            font-size: 40px;
            margin-bottom: 10px;
            text-transform: uppercase;
            color: $accent;
         }
         p {
            font-size: 20px;
            font-weight: $text;
            margin-bottom: 20px;
         }
         .hotlinks {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 25px;
            .popular,
            .top-rated,
            .upcoming,
            .now-playing {
               width: 150px;
               height: 150px;
               border: 2px solid white;
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;
               // <--- links --->
               a {
                  text-decoration: none;
                  color: white;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  width: inherit;
                  height: inherit;

                  p {
                     margin-top: 10px;
                     margin-bottom: 0px;
                  }
               }

               //<---- hover ----->
               &:hover {
                  background-color: $accent;
                  cursor: pointer;
                  border: 2px solid $accent;
               }
            }
         }
      }
   }
}
//! <--- Tablet --->
@media screen and (min-width: 1050px) {
   .landing {
      .wrapper {
         .content {
            height: 500px;
            width: 750px;
            h1 {
               font-size: 50px;
            }
            p {
               font-size: 25px;
               margin-bottom: 40px;
            }
            // <----- hotlinks ------->
            .hotlinks {
               grid-template-columns: repeat(4, 1fr);
               grid-gap: 15px;
               p {
                  font-size: 20px;
               }
            }
         }
      }
   }
}
