@import "../globals.scss";
//! <--- Mobile --->
.landing {
   background-image: url("https://www.themoviedb.org/t/p/original/d2UxKyaJ5GgzuHaSsWinFfv3g6L.jpg");
   @include backdrop-prop;
   width: 100%;
   height: 100vh;
   z-index: -1;

   .landing-wrapper {
      color: white;
      background-color: rgba($col1, 0.8);
      backdrop-filter: $defBlur;
      width: 100%;
      height: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: fixed;
      top: 0px;
      left: 0px;
      z-index: 0;

      .content {
         display: inherit;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         width: 400px;
         margin: auto;
         h1 {
            font-weight: $subHeading;
            font-size: 40px;
            margin-bottom: 10px;
            color: $accent;
         }
         p {
            font-size: 17px;
            font-weight: $text;
            margin-bottom: 20px;
         }
         .hotlinks {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-gap: 25px;
            .popular,
            .top-rated,
            .upcoming,
            .now-playing,
            .favourites,
            .about {
               width: 150px;
               height: 150px;
               border: 2px solid white;
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;
               border-radius: 2px;
               transition: all 0.3s linear;
               // <--- links --->
               a {
                  text-decoration: none;
                  color: white;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  width: inherit;
                  height: inherit;

                  p {
                     margin-top: 10px;
                     margin-bottom: 0px;
                     font-size: 15px;
                  }
                  &:hover {
                     color: white;
                     transition: all 0.5s ease-out;
                  }
               }

               //<---- hover ----->
               &:hover {
                  cursor: pointer;
                  border: 2px solid $accent;
               }
            }
            .popular::before,
            .top-rated::before,
            .upcoming::before,
            .now-playing::before,
            .favourites::before,
            .about::before {
               content: "";
               position: absolute;
               left: 0;
               top: 0;
               width: 100%;
               height: 100%;
               background: $accent; /* Hover fill colour */
               z-index: -1;
               transition: transform 0.4s; /* How long the hover will fill */
               transform-origin: 0 0;
               transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
            }
            .popular::before,
            .top-rated::before,
            .upcoming::before,
            .now-playing::before,
            .favourites::before,
            .about::before {
               transform: scaleY(0);
            }
            .popular:hover::before,
            .top-rated:hover::before,
            .upcoming:hover::before,
            .now-playing:hover::before,
            .favourites:hover::before,
            .about:hover::before {
               transform: scaleY(1);
            }
            .popular {
               animation: slide-in-bck-bottom 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            }
            .top-rated {
               animation: slide-in-bck-bottom 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            }
            .upcoming {
               animation: slide-in-bck-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            }
            .now-playing {
               animation: slide-in-bck-bottom 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            }
            .favourites {
               animation: slide-in-bck-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            }
            .about {
               animation: slide-in-bck-bottom 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            }

            /* ----------------------------------------------
            * Generated by Animista on 2021-1-19 0:2:41
            * Licensed under FreeBSD License.
            * See http://animista.net/license for more info. 
            * w: http://animista.net, t: @cssanimista
            * ---------------------------------------------- */

            /**
            * ----------------------------------------
            * animation slide-in-bck-bottom
            * ----------------------------------------
            */
            @keyframes slide-in-bck-bottom {
               0% {
                  transform: translateZ(700px) translateY(300px);
                  opacity: 0;
               }
               100% {
                  transform: translateZ(0) translateY(0);
                  opacity: 1;
               }
            }
         }
      }
   }
}
//! <--- Tablet --->
@media screen and (min-width: 1050px) {
   .landing {
      .landing-wrapper {
         .content {
            height: 500px;
            width: 750px;
            h1 {
               font-size: 50px;
            }
            p {
               font-size: 17px;
               margin-bottom: 40px;
            }
            // <----- hotlinks ------->
            .hotlinks {
               grid-template-columns: repeat(3, 1fr);
               grid-gap: 20px;
               p {
                  font-size: 20px;
               }
            }
         }
      }
   }
}
