@import "../globals.scss";
//! <--- Mobile --->
header {
   color: white;
   background-color: #1b1e2b;
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 75px;
   width: 100%;
   position: fixed;
   top: 0px;
   left: 0px;
   z-index: 999;
   border-top: 1px solid $accent;
   h1 {
      text-transform: uppercase;
      color: $accent;
   }
   //* <--- Links --->
   .links {
      display: none;
   }
   .mobile-links {
      color: white;
      background-color: $col1;
      position: fixed;
      bottom: 0px;
      left: 0px;
      z-index: 999;
      width: 100%;
      height: 45px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      // <----- all svg inside selector ----->
      svg:hover {
         cursor: pointer;
      }
      a {
         color: white;
      }
   }
}
//! <--- Tablet --->
@media screen and (min-width: 1050px) {
   header {
      .links {
         display: flex;
         width: 300px;
         font-weight: $subHeading;
         ul {
            display: inherit;
            justify-content: space-between;
            align-items: center;
            width: inherit;
            li,
            a {
               list-style-type: none;
               text-decoration: none;
               color: $accent;
            }
            //* <--- about page ---->
            li:nth-child(3) {
               color: $accent;
               border: 1px solid $accent;
               background-color: transparent;
               padding: 5px;
               border-radius: 2px;
               transition: all 0.5s ease;
            }
            li:nth-child(3):hover {
               background-color: $accent;
               a {
                  color: $col1;
               }
            }
         }
      }
      .mobile-links {
         display: none;
      }
   }
}
