@import "../globals.scss";
//! <------ toggles the sidebar off ------>
.sidebar-off {
   color: white;
   background-color: $col1;
   width: 100%;
   height: 100vh;
   position: fixed;
   top: 75px;
   left: 0px;
   z-index: 999;
   display: none;

   //Heading for all sections in the sidebar
   .heading {
      display: flex;
      align-items: center;
      padding-left: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: $col2;
      //Title
      h1 {
         font-weight: $subHeading;
         font-size: 20px;
         margin-left: 5px;
      }
   }
   .filter {
      margin-bottom: 20px;
      .filter-items {
         padding-left: 20px;
         a {
            color: white;
            text-decoration: none;
            h2 {
               margin-top: 5px;
               font-weight: $text;
            }
         }
      }
   }
   .latest {
      .latest-items {
         padding-left: 20px;
         li,
         a {
            color: white;
            list-style-type: none;
            text-decoration: none;
            font-size: 20px;
            font-weight: $text;
            margin-top: 5px;
         }
      }
   }
}

.sidebar-on {
   display: block;
   color: white;
   background-color: $col1;
   width: 100%;
   height: 110vh;
   position: sticky;
   top: 74px;
   left: 0px;
   z-index: 9999;
   animation: slide-in-bottom 0.5s cubic-bezier(0.86, 0, 0.07, 1) both;

   //Heading for all sections in the sidebar
   .heading {
      display: flex;
      align-items: center;
      padding-left: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: #2e3344;
      position: sticky;
      top: 74px;
      left: 0px;
      @media screen and (min-width: 1050px) {
         position: static;
      }

      //Title
      h1 {
         font-weight: $subHeading;
         font-size: 20px;
         margin-left: 5px;
      }
   }
   .filter {
      margin-bottom: 20px;

      .filter-items {
         padding-left: 20px;
         a {
            color: white;
            text-decoration: none;
            h2 {
               margin-top: 5px;
               font-weight: $subHeading;
               font-size: 20px;
            }
         }
      }
   }
   .latest {
      margin-bottom: 20px;
      .latest-items {
         padding-left: 20px;
         padding-right: 20px;
         li,
         a {
            color: white;
            list-style-type: none;
            text-decoration: none;
            font-size: 16px;
            font-weight: $text;
            margin-top: 5px;
         }
      }
   }
   .trending {
      .trending-items {
         margin-top: 5px;
         padding-left: 20px;
         @media screen and (min-width: 1050px) {
            font-size: 12px;
            font-weight: $text;
            padding-left: 5px;
         }
         .rating {
            border-radius: 3px;
            padding: 2px 7px 2px 7px;
            margin-left: 4px;
            margin-right: 8px;
            background-color: $accent;
            font-size: 13px;
            @media screen and (min-width: 1050px) {
               margin-right: 5px;
            }
         }
         ul {
            li {
               list-style-type: none;
               padding: 5px 0px 5px 0px;
               transition: all 0.2s ease-out;

               @media screen and (min-width: 1050px) {
                  width: 175px;
                  overflow-x: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  font-size: 14px;
               }

               a {
                  text-decoration: none;
                  color: white;
                  &:hover {
                     color: $accent;
                     .rating {
                        color: white;
                     }
                  }
               }
            }
         }
      }
   }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-1-19 0:52:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
@keyframes slide-in-bottom {
   0% {
      transform: translateY(1000px);
      opacity: 0;
   }
   100% {
      transform: translateY(0);
      opacity: 1;
   }
}

//* <------- Tablet ---------->
@media screen and (min-width: 1050px) {
   .sidebar-off {
      margin: 0px;
      padding: 0px;

      // <------- margin right of the sidebar ------>
      margin-right: 20px;
   }
   .sidebar-on {
      position: static;
      width: 250px;
      height: auto;
      animation: none;
      padding-bottom: 20px;
      // <---- show the sidebar when its this width ---->
      .heading {
         justify-content: center;
         padding: 8px 10px 8px 10px;
         border-radius: 2px;
         h1 {
            font-size: 15px;
         }
      }
      .filter {
         .filter-items {
            a {
               h2 {
                  font-size: 15px;
               }
            }
         }
      }
      .latest .latest-items ul li {
         font-size: 15px;
      }
   }
}

//Toggle Page ID

.page-id {
   color: $accent;
   font-weight: $heading;
}
