//! <--- Font weight --->
$heading: 500;
$subHeading: 400;
$text: 300;

//! <--- Pallete ---->
$col1: #1b1e2b;
$col2: #2a2d3e;
$accent: #fe5b5b;

//! Misc
$defBlur: blur(10px);
//! <--- Mixins ---->
@mixin backdrop-prop {
   background-position: center-top;
   background-size: cover;
   background-attachment: fixed;
   background-repeat: no-repeat;
}
