//! <--- Font weight --->
$heading: 500;
$subHeading: 400;
$text: 300;

//! <--- Pallete ---->
$col1: #1b1e2b;
$col2: #2a2d3e;
$accent: lightgreen;

//! Misc
$defBlur: blur(3px);
//! <--- Mixins ---->
@mixin backdrop-prop {
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
}
