//! Imports
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
@import "./globals.scss";

//! Normalize
@import "normalize";

//! Partials
@import "./static/header";
@import "./static/footer";
@import "./dynamic/landing";
@import "./static/sidebar";
@import "./dynamic/render";
@import "./dynamic/thumbnail";
@import "./dynamic//single.scss";
@import "./static/about";
@import "./dynamic/favourites";
@import "./static/credits";
@import "./static/no-page";
html {
   * {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
      font-family: "Montserrat", sans-serif;
      scroll-behavior: smooth;
   }
}

//! <--- Mobile --->
body {
   width: 100%;
   @include backdrop-prop;
   background-color: $col1;
   transition: background-image 0.5s ease-out;
   .wrapper {
      width: inherit;
      background-color: rgba($col2, 0.9);
      backdrop-filter: $defBlur;
      margin: 0px;
      padding: 0px;
      border: 1px solid transparent;
      // display: flex;
      // flex-direction: column;
      // justify-content: flex-start;
   }
}
//! <--- Tablet --->
@media screen and (min-width: 1050px) {
   body {
      margin-bottom: 0px;
      .wrapper {
         width: 1000px;
         height: auto;

         margin-left: auto;
         margin-right: auto;
         margin-top: 100px;
         margin-bottom: 20px;
         padding: 25px;
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: flex-start;
         border-top: 1px solid $accent;
         border-bottom: 3px solid $accent;
         @include backdrop-prop;
      }
   }
}
